.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Block page scroll */

body:has(.backdrop.is-open) {
  overflow: hidden;
}

/* #region RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
}

input,
textarea {
  border: none;
  padding: 0;
  outline: transparent;
}

/* #endregion RESET */

/* #region Commom */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;

  /* min-width: 320px; */

  max-width: 375px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* hidden h1 section values*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Title h2 */
.values-title,
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* Title h3 */
.team-subtitle,
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Text p */
.team-text,
.portfolio-text {
  color: currentColor;
}

/* button-close-icon */
.button-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* #endregion Common */

/* #region HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  justify-content: space-between;
}

.nav-mobile {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}

@media not (hover: hover) {
  .nav-mobile:active .nav-mobile-icon {
    fill: #404bbf;
  }
}

@media only screen and (min-width: 767px) {
  .nav-mobile {
    display: none;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.logo .light {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: '';
  border-radius: 2px;

  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.address {
  font-style: normal;
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 758px) {
  .address-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* #endregion HEADER */

/* #region HERO */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg_s.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /* min-width: 320px; */
  max-width: 375px;
  padding: 72px 52px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_s@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg_m.jpg');
    max-width: 768px;
    padding: 112px 0;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg_m@2x.jpg');
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg_l.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg_l@2x.jpg);
    }
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 72px auto;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin: 0 auto 48px auto;
  }
}

.hero-button,
.form-submit {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus,
.hero-button:hover,
.hero-button:focus,
.form-submit:hover,
.form-submit:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* #endregion HERO */

/* #region Our Values */
.values-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .values-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .values-list {
    gap: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .values-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .values-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

@media only screen and (max-width: 1157px) {
  .values-tumb {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .values-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }
}

.values-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
  .values-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.values-text {
  color: currentColor;
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .values-text {
    font-weight: 400;
  }
}
/* #endregion Our Values */

/* #region Our TEAM */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 0px;
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  color: #f4f4fd;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: currentColor;
}

/* #endregion Our TEAM */

/* #region PORTFOLIO */
.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-owerlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-owerlay {
  transform: translateY(0);
}

.portfolio-content {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion PORTFOLIO */

/* #region FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: unset;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-brand {
    flex-grow: 1;
  }
}

.footer-logo {
  display: block;
  text-align: center;
  /* display: inline-block; */
  margin-bottom: 16px;
}

.footer-brand-text {
  color: #f4f4fd;
  max-width: 264px;
}

.logo .dark {
  color: #f4f4fd;
}

.footer-socials-text,
.footer-form-text {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-logo,
  .footer-socials-text,
  .footer-form-text {
    text-align: left;
  }
}

.socials-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.socials-footer .socials-link:hover,
.socials-footer .socials-link:focus {
  background-color: #31d0aa;
}

/* Form Subscribe */

@media only screen and (min-width: 1158px) {
  .footer-form-container {
    margin-left: 80px;
  }
}

.footer-form {
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
  }
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  fill: #fff;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-input-email {
  font-size: 12px;
  line-height: 2;
  color: #fff;
  padding-left: 16px;
  letter-spacing: 0.04em;

  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;

  width: 100%;
  height: 40px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-input-email {
    width: 264px;
  }
}

.footer-input-email::placeholder {
  color: #fff;
}

.subscribe-icon {
  margin-left: 16px;
}

/* #endregion FOOTER */

/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.modal {
  padding: 72px 16px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;

  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.modal-close {
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: #ffffff;
}

/* #endregion Modal*/

/* #region FormModal */
.modal-form-field {
  margin-bottom: 8px;
}

.modal-caption {
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-label,
.user-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  background-color: transparent;
  padding: 11px 38px;
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:focus,
.modal-form-message:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-form-message {
  background-color: transparent;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement {
  margin-bottom: 24px;
}

.user-agreement > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

input:checked + label > span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.accent-text {
  line-height: 1.3;
  text-decoration: underline;
  color: #4d5ae5;
}

/* #endregion FormModal */

/* #region Mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transform: translateX(100%);

  transition: transform 250ms ease-in-out;
}

.mobile-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px 16px 40px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-close {
  background-color: transparent;
  border: 1px solid #e7e9fc;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-list {
  margin-bottom: 48px;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: currentColor;
}

.mobile-contact-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-socials {
  display: flex;
  gap: 40px;
}

.mobile-menu-item:first-child .mobile-menu-link {
  color: #404bbf;
}

.mobile-contact-item:first-child .mobile-contact-link {
  color: #4d5ae5;
}

@media not (hover: hover) {
  .mobile-menu-link:active {
    color: #404bbf;
  }

  .mobile-contact-link:active {
    color: #4d5ae5;
  }
}

/* #endregion Mobile-menu */
